server:
  base_url:
  request_timeout: 120
job:
  model:
    provider: vllm
    name: Qwen/Qwen2.5-7B-Instruct
    parameters:
      tensor_parallel_size: 2
      system_prompt: |
        You are a web search assistant. You MUST use tools and cite sources and never rely on memory.
  source:
    dataset: gaia-benchmark/GAIA
    config_name: 2023_all
    split: test[0:32]
    field: Question
  generation: 
    max_batch_size: 2
    max_turns: 8
    parameters:
      temperature: 0.7
      top_p: 0.9
      max_tokens: 16384
  output:
    mode: "upload_hf"
    hf:
      repo_id: RiddleHe/spider-rollouts-web-search-qwen2.5-7b-gaia-32-examples
      private: false